**
!infra/
!infra/frappe-hrms/
!infra/frappe-hrms/**
!vendor/
!vendor/frappe/
!vendor/frappe/frappe/
!vendor/frappe/frappe/**
!vendor/frappe/erpnext/
!vendor/frappe/erpnext/**
!vendor/frappe/hrms/
!vendor/frappe/hrms/**
!vendor/frappe/square_hrm_branding/
!vendor/frappe/square_hrm_branding/**
!vendor/frappe/frappe_docker/
!vendor/frappe/frappe_docker/resources/
!vendor/frappe/frappe_docker/resources/core/
!vendor/frappe/frappe_docker/resources/core/main-entrypoint.sh
